body{
    display: flow-root;
}

#img1{
    float: left;
    float: top;
}

#word{
    float: left;
    padding-top: 15px;
    padding-left: 10px;
}

#login{
    float: right;
    margin-top: 119px;
    background-color: white；
}

